<div class="prodbox-wrapper">
	<ul>
		{{#each boxes}}
			<li class="adbox" style="background-image: url({{img}});">
				<a href="{{link}}" class="link-overlay"></a>
				<div class="text{{#if inverse}} text--inverse{{/if}}">
					<h2 class="title">{{{title}}}</h2>
					<p>{{text}}</p>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
