<div class="content">
	<div class="animated-hero-module">
		<div class="img-wrapper img-wrapper--tr animated bounceInLeft">
			<img src="/siteware/images/switch-tr.png" alt="">
		</div>
		<div class="text-wrapper animated bounceInDown">
			<p class="heading">Next Generation PoE Switches</p>
			<p>High performance trouble free switches for enterprice use.</p>
		</div>
		<div class="img-wrapper img-wrapper--bl animated bounceInRight">
			<img src="/siteware/images/switch-bl.png" alt="">
		</div>
		<ul class="specialities">
			<li class="animated bounceIn"><img src="/siteware/images/eathernet.jpg" alt=""><br />Power Over Ethernet</li>
			<li class="animated bounceIn"><img src="/siteware/images/non-block.jpg" alt=""><br />Non Block Switching</li>
			<li class="animated bounceIn"><img src="/siteware/images/plug-play.jpg" alt=""><br />Plug &amp; Play<br /><br /></li>
			<li class="animated bounceIn"><img src="/siteware/images/tough-metal.jpg" alt=""><br />Touch Metal Housing</li>
			<li class="animated bounceIn blinking-star"><img src="/siteware/images/dual-uplink.png" alt=""><br />Dual - Uplink</li>
		</ul>
	</div>
</div>
