<div class="build-your-home">
	<div class="content">
		<h2 class="title text-center">{{title}}</h2>

		<ul class="row">
			{{#each products}}
			<li class="col-sm-4">
				<img src="{{img.src}}" alt="{{img.alt}}" class="img-responsive">
				<p class="text-center"><a href="{{link}}" title="{{text}}">{{text}}</a></p>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
