<div class="what-else">
	<div class="slick-slides">
		{{#each slides}}
			<div{{#if custom}} class="custom-slide"{{/if}}>
				<a href="{{link}}" class="link-overlay"></a>
				<div class="img-holder"><img src="{{img}}" alt="" class="img-responsive"></div>
				<div class="text">
					<p class="slide-section">{{slideSection}}</p>
					<h3 class="slide-title">{{title}}</h3>
					{{#if text}}<p class="slide-text">{{text}}</p>{{/if}}
					{{#if custom}}<p class="buy-now">{{buyNow}}<i class="fa fa-angle-right" aria-hidden="true"></i></p>{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
