<footer class="footer-wrapper">
	<div class="content">
		<ul class="row with-pro-installer">
			<li class="col-md-4"><a href="#" class="rebates-rewards"><span class="title">Get Nest for less</span><span class="text">Find rebates, rewards and<br />new ways to save.</span></a></li>
			<li class="col-md-4"><a href="#" class="find-installer"><span class="title">Find an installer</span><span class="text">Get help installing your<br />Nest products.</span></a></li>
			<li class="col-md-4"><a href="#" class="works-nest"><span class="title">Works with Nest</span><span class="text">Explore what connects with<br />the rest of your Nest.</span></a></li>
		</ul>

		<div class="footer-nav">
			<div class="row">
				<div class="col-md-2">
					<input type="checkbox" name="store" id="store" value="">
					<h2 class="item-title"><label for="store">Store</label><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></h2>
					<ul class="item-list">
						<li><a href="#">Nest Thermostat</a></li>
						<li><a href="#">Nest Thermostat E</a></li>
						<li><a href="#">Nest Protect</a></li>
						<li><a href="#">Nest Cam Indoor</a></li>
						<li><a href="#">Nest Cam Outdoor</a></li>
						<li><a href="#">Nest Cam IQ Indoor</a></li>
						<li><a href="#">Nest Cam IQ Outdoor</a></li>
						<li><a href="#">Works with Nest</a></li>
						<li><a href="#">Where to buy</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<input type="checkbox" name="company" id="company" value="">
					<h2 class="item-title"><label for="company">Company</label><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></h2>
					<ul class="item-list">
						<li><a href="#">Support</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Responsibility</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Video</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<input type="checkbox" name="programs" id="programs" value="">
					<h2 class="item-title"><label for="programs">Programs</label><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></h2>
					<ul class="item-list">
						<li><a href="#">Nest Pro</a></li>
						<li><a href="#">Developer</a></li>
						<li><a href="#">Rebates &amp; Rewards</a></li>
						<li><a href="#">Energy Partners</a></li>
						<li><a href="#">Insurance Partners</a></li>
						<li><a href="#">Nest for Business</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<form class="row" action="/" method="post">
						<fieldset class="subscribe">
							<label for="subscribe" class="sr-only">Subscribe for Newslateer</label>
							<input type="text" name="subscribe" value="" placeholder="Enter email for Nest news" class="col-xs-12">
							<button type="submit" name="btn-subscrive"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</fieldset>
					</form>

					<ul class="social-media">
						<li><a href="#" class="facebook"><span class="sr-only">Facebook</span></a></li>
						<li><a href="#" class="twitter"><span class="sr-only">Twitter</span></a></li>
						<li><a href="#" class="instagram"><span class="sr-only">Instagram</span></a></li>
						<li><a href="#" class="youtube"><span class="sr-only">YouTube</span></a></li>
					</ul>

					<div class="choose-country">
						<a href="#"><img src="/siteware/images/us_flag_color_large-1947218823.png" alt="" width="23" height="23" /> Change &gt;</a>
					</div>
				</div>
			</div>
		</div>

		<p class="footer-note">*Free shipping applies to the lowest-cost shipping option. Free shipping promotions may be modified or discontinued at any time.</p>

		<div class="footer-links">
			<ul>
				<li>&copy; 2017 Nest Labs</li>
				<li><a href="#">Use of cookies</a></li>
				<li><a href="#">Legal</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Data security</a></li>
				<li><a href="#">Nest Protect Safety Notice</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
	</div>
</footer>
