<div class="hero-banner">
	<div class="content">
		<div class="text-area">
			{{#if innerPage}}
				<h1>{{innerPage.title}}</h1>
				<p>{{innerPage.text}}</p>
				<a href="{{innerPage.link.href}}" title="{{innerPage.link.title}}"><i class="fa fa-play-circle-o" aria-hidden="true"></i> {{innerPage.link.text}}</a>
			{{else}}
				<a href="#" title="{{anchorTitle}}">
					<img src="{{img}}" width="32" height="32" alt="">
					<p class="title">{{title}}</p>
					<p class="subline">{{subline}}</p>
					<h1 class="tagline">{{{tagline}}}</h1>
				</a>
				<ul class="row">
					{{#each buttons}}
						<li class="col-xs-6"><a href="{{link}}" class="btn btn-{{#if class}}{{class}}{{else}}default{{/if}}">{{text}}</a></li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
	</div>
</div>
