<div class="text-description">
	<div class="content">
		{{#if title}}<h2 class="section-title">{{title}}</h2>{{/if}}
		{{#if text}}<p>{{{text}}}</p>{{/if}}
		{{#if link}}<a href="{{link.href}}" title="{{link.text}}">{{link.text}}</a>{{/if}}
	</div>
</div>
