<div class="text-with-image{{#if textOn}} text-with-image--{{textOn}}{{/if}}">
	<div class="img-holder">
		<img src="{{image.src}}" alt="{{image.alt}}" class="img-responsive">
	</div>
	<div class="img-overlay"></div>
	<div class="text-wrapper">
		{{#if text.title}}<h2 class="section-title">{{text.title}}</h2>{{/if}}
		{{#if text.desc}}
			<div class="text">
				{{{text.desc}}}
			</div>
		{{/if}}
	</div>
</div>
