.prodbox-wrapper {
	background-color: $white-pure;
	padding-top: 10px;

	ul {
		margin-bottom: 0;
	}

	.adbox {
		background-position: 50% 0;
		position: relative;
		margin-bottom: 7px;
		min-height: 358px;

		@include breakpoint($ap-small) {
			display: inline-block;
			margin-bottom: 3px;
			margin-right: 1px;
			width: calc(50% - 5px);

			&:nth-child(2n) {
				margin-left: 5px;
				margin-right: -4px;
			}
		}

		&:hover {
			color: $highlight;

			.text {
				color: $highlight;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		.box-img {
			max-height: 325px;
		}

		.text {
			@include font-rem(18px);
			bottom: 0;
			left: 0;
			padding-bottom: 20px;
			position: absolute;
			right: 0;
			text-align: center;

			.title {
				@include font-rem(20px);
				color: $text-color;
				line-height: 24px;
				margin-bottom: 5px;
			}

			&--inverse {
				color: $text-color-inverse;

				.title {
					color: $text-color-inverse;
				}
			}
		}
	}
}
