.animated-hero-module {
	color: $darker;
	min-height: 630px;
	position: relative;
	text-align: center;

	@include breakpoint($ap-small) {
		min-height: 350px;
	}

	.text-wrapper {
		@include animationProp(1s,1s,1);
		line-height: 1.2;
		position: absolute;
		top: 150px;

		@include breakpoint($ap-small) {
			left: 10%;
			top: 20%;
		}

		@include breakpoint($ap-small, max) {
			left: 0;
		}

		.heading {
			@include font-rem(30px);
			color: #00aba8;
			margin: 0;
			text-shadow: 1px 1px 0 #fff, 3px 3px 5px rgba(#00aba8, 0.8);
		}
	}

	.img-wrapper {
		@include animationProp(1s, 0.5s, 1);
		position: absolute;

		&--tr {
			top: 20px;
			right: 0;
		}

		&--bl {
			left: 0;
			top: 270px;

			@include breakpoint($ap-small) {
				bottom: 20px;
				top: auto;
			}
		}
	}

	.specialities {
		bottom: 0;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		position: absolute;

		@include breakpoint($ap-small) {
			right: 0;
		}

		li {
			@include animationProp(1s, 1.5s, 1);
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;
			margin-bottom: 15px;
			width: 80px;

			@include breakpoint($ap-small) {
				margin-right: 5px;
				width: 90px;

				&:last-child {
					margin-right: 0;
				}
			}

			&.blinking-star {
				@include animationProp(1s, 1.5s, infinite);
			}

			img {
				border: 1px solid $black;
				border-radius: 5px;
				margin-bottom: 5px;
				padding: 5px;
			}
		}
	}
}
