.hero-banner {
	background-position: 50% bottom;
	background-repeat: no-repeat;
	padding-bottom: 420px;
	padding-top: 15px;
	position: relative;

	@include breakpoint($ap-small) {
		min-height: 744px;
		padding-bottom: 0;
		padding-top: 35px;
	}

	@include breakpoint($ap-medium) {
		height: 58.125vw;
		padding-bottom: 0;
	}

	.homepage & {
		background-color: $grey-light;
		background-image: url(/siteware/images/mobile-294712633.jpg);

		@include breakpoint($ap-small) {
			background-image: url(/siteware/images/tablet-3078176136.jpg);
		}

		@include breakpoint($ap-medium) {
			background-image: url(/siteware/images/desktop-4273321488.jpg);
		}
	}

	.inner-page & {
		background-image: url(/siteware/images/background-desktop_2x-3310233894.jpg);
		background-position: 50% bottom;
		background-size: cover;
		height: 45vw;
		padding-bottom: 350px;

		h1 {
			@include font-rem(35px);
			color: $darker;
			margin-bottom: 15px;

			@include breakpoint($ap-small) {
				@include font-rem(40px);
			}
			@include breakpoint($ap-medium) {
				@include font-rem(50px);
			}
		}

		p {
			@include font-rem(24px);

			@include breakpoint($ap-small) {
				@include font-rem(26px);
			}
			@include breakpoint($ap-medium) {
				@include font-rem(30px);
			}
		}

		a {
			@include font-rem(18px);

			i {
				@include font-rem(20px);
			}
		}
	}

	.text-area {
		padding-top: 20px;
		text-align: center;

		@include breakpoint($ap-small) {
			margin: 0 auto;
			width: 50%;
		}

		@include breakpoint($ap-medium) {
			@include vendor-prefix(transform, translate(-50%, -50%));
			left: 50%;
			position: absolute;
			top: 25%;
			width: auto;
		}

		a {
			display: block;
		}
	}

	.title {
		@include font-rem(16px);
		color: $text-color;
		margin: 5px 0 3px;

		@include breakpoint($ap-small) {
			margin: 15px 0 7px;
		}
	}
	.subline {
		@include font-rem(11px);
		color: $text-color;
		margin-bottom: 15px;
	}
	.tagline {
		@include font-rem(28px);
		color: $text-color;
		font-weight: normal;
		line-height: 1.4;
		margin: 10px 0;

		@include breakpoint($ap-small) {
			@include font-rem(40px);
			line-height: 1.2;
			margin-bottom: 25px;
		}
	}
}
