.build-your-home {
	background-color: $white-pure;
	padding: 20px 0 30px;

	.title {
		@include font-rem(24px);
		color: $darker;
	}

	li {
		background-color: #fafafa;
		border-right: 10px solid $white-pure;

		&:last-child {
			border-right: 0;
		}

		img {
			margin: 0 auto;
			max-height: 158px;
		}

		p {
			padding-bottom: 10px;

			@include breakpoint($ap-small) {
				margin-bottom: 0;
			}
		}
	}
}
