.what-else {
	border-color: $white-pure;
	border-style: solid;
	border-width: 10px 0;
	padding: 15px 15px 65px 15px;
	position: relative;

	@include breakpoint($ap-small) {
		padding: 15px 0 65px 25px;
	}

	.slick-slides {
		@include breakpoint($ap-xsmall, max) {
			margin: 0 auto;
			max-width: 390px;
		}

		.slick-arrow {
			@include vendor-prefix(transform, translateX(-50%));
			background-color: $grey-light;
			border: 1px solid $grey-dark;
			border-radius: 50%;
			bottom: -50px;
			height: 35px;
			position: absolute;
			width: 35px;
			z-index: 1;

			&.slick-prev {
				left: 15%;

				@include breakpoint($ap-small) {
					left: calc(50% - 50px);
				}
			}

			&.slick-next {
				right: 10%;

				@include breakpoint($ap-small) {
					right: calc(50% - 50px);
				}
			}

			.fa {
				@include font-rem(22px);
				color: $black;
				font-weight: bold;
				margin-top: 3px;
			}
		}

		.slick-dots {
			@include clearfix(after);
			@include vendor-prefix(transform, translateX(-50%));
			bottom: -52px;
			left: 47%;
			position: absolute;

			li {
				@include font-rem(20px);
				background-color: $black;
				border-radius: 50%;
				cursor: pointer;
				float: left;
				font-weight: bold;
				height: 6px;
				margin: 0 5px;
				width: 6px;

				button {
					opacity: 0;
					visibility: hidden;
					overflow: hidden;
				}
			}

			.slick-active {
				background-color: $highlight;
			}
		}
	}

	.slick-slide {
		position: relative;

		&.custom-slide {
			.text {
				padding-top: 50px;
			}
		}

		@include breakpoint($ap-small) {
			margin-left: 15px;

			&.custom-slide {
				.img-holder {
					position: relative;

					img {
						max-height: 240px;
						max-width: 100%;
					}
				}

				.text {
					margin-left: 0;
					max-width: 100%;
					min-height: auto;
					padding-bottom: 5px;
					padding-top: 45px;
				}
			}

			.img-holder {
				left: 0;
				position: absolute;
				top: 0;

				img {
					max-height: 390px;
					max-width: 100%;
				}
			}
		}

		.text {
			background-color: $white-pure;
			padding: 25px 25px;
			text-align: center;

			@include breakpoint($ap-small) {
				margin-left: 390px;
				max-width: 230px;
				min-height: 390px;
			}

			.slide-title {
				color: $highlight;
				font-weight: normal;
				margin: 10px 0;
			}

			.slide-text {
				text-align: left;
			}

			.buy-now {
				@include font-rem(16px);
				color: $highlight;

				.fa-angle-right {
					@include font-rem(20px);
					margin-left: 10px;
				}
			}
		}
	}
}
