.text-with-image {
	@include clearfix(after);
	background-color: $white-pure;
	padding: 15px;
	position: relative;

	.section-title {
		margin-top: 0;
	}

	.img-overlay {
		display: none;
	}

	.img-holder {
		display: block;
		float: right;

		img {
			display: inline-block;
			height: 450px;
		}
	}

	.text-wrapper {
		@include vendor-prefix(transform, translateY(-50%));
		padding-right: 25px;
		position: absolute;
	    top: 50%;
	    width: 50%;
	}

	ul {
		li {
			float: left;
			margin-right: 20px;
		}
	}

	&--right {
		.img-holder {
			float: left;
		}

		.text-wrapper {
			padding-left: 25px;
			right: 0;
		}
	}

	&--center {
		text-align: center;

		.section-title {
			color: $white-pure;
		}

		.img-overlay {
			background-color: rgba($darker, 0.3);
			bottom: 0;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.img-holder {
			float: none;
		}

		.text-wrapper {
			@include vendor-prefix(transform, translate(-50%, -50%));
			color: $white-pure;
			left: 50%;
			top: 50%;
			width: auto;
		}
	}
}
