/* Footer Style Goes Here... */
.footer-wrapper {
	background-color: $grey-darker;
	color: $white;

	a {
		@include linx($text-color-inverse, $grey-dark);
	}

	.with-pro-installer {

		li {
			border-bottom: 1px solid;
			margin-left: 15px;
			margin-right: 15px;
			padding: 20px 0;

			&:last-child {
				border-bottom: 0;
				padding-bottom: 5px;
			}

			@include breakpoint($ap-medium) {
				padding-bottom: 35px;
				padding-top: 35px;
				margin: 0;

				&:last-child {
					border-bottom: 1px solid;
					padding-bottom: 35px;
				}
			}

			a {
				display: block;
				padding-left: 55px;
				position: relative;

				&::before {
					@include vendor-prefix(transform, translateY(-50%));
					background-position: left 50%;
					background-repeat: no-repeat;
					bottom: 0;
					content: "";
					display: table;
					left: 0;
					position: absolute;
					top: 50%;
				}

				@include breakpoint($ap-medium) {
					padding-left: 85px;
				}
			}

			br {
				display: none;

				@include breakpoint($ap-medium) {
					display: inline;
				}
			}

			span {
				display: block;
			}

			.title {
				@include font-rem(16px);
			}

			.text {
				@include font-rem(12.5px);
			}
		}
		.rebates-rewards {
			&::before {
				background-image: url(/siteware/images/piggy-bank-outline-white-2847032734.svg);
				height: 27px;
				width: 40px;

				@include breakpoint($ap-medium) {
					height: 40px;
					width: 60px;
				}
			}
		}
		.find-installer {
			&::before {
				background-image: url(/siteware/images/hammer-and-screwdriver-outline-white-83581106.svg);
				height: 35px;
				width: 35px;

				@include breakpoint($ap-medium) {
					height: 50px;
					width: 87px;
				}
			}
		}
		.works-nest {
			&::before {
				background-image: url(/siteware/images/nest-house-white-small-2381206170.svg);
				border: 1px solid;
				border-radius: 100%;
				height: 32px;
				width: 32px;

				@include breakpoint($ap-medium) {
					height: 50px;
					width: 50px;
				}
			}
		}
	}

	.footer-nav {
		@include font-rem(12px);
		padding: 0 0 15px;
		position: relative;

		[class*="col-md-"] {
			border-bottom: 1px solid;

			&:first-child {
				border-top: 1px solid;
			}

			&:last-child {
				border-bottom: 0;
			}

			@include breakpoint($ap-medium) {
				border-bottom: 0;

				&:first-child {
					border-top: 0;
				}
			}
		}

		.item-title {
			@include font-rem(12px);
			color: $text-color-inverse;
			line-height: 2;
			margin: 0;
			text-transform: uppercase;
		}

		li {
			line-height: 1.5;
		}

		h2 {
			label {
				display: block;
				font-weight: normal;
				margin-top: 5px;
			}

			@include breakpoint($ap-medium) {
				label {
					font-weight: normal;
					margin: 0;
				}
			}
		}

		.item-list {
			@include vendor-prefix(transition, max-height 0.5s linear);
			max-height: 0;
			margin-bottom: 0;
			overflow: hidden;

			@include breakpoint($ap-medium) {
				max-height: 100%;
				overflow: inherit;
			}
		}

		input[type='checkbox'] {
			opacity: 0;
			position: absolute;
			visibility: hidden;

			~h2 .fa {
				position: absolute;
				right: 10px;
				top: 10px;

				@include breakpoint($ap-medium) {
					display: none !important;
				}
			}

			~ h2 .fa-minus {
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
			}

			&:checked ~ {
				h2 .fa-plus {
					opacity: 0;
					visibility: hidden;
					z-index: -1;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				}
				h2 .fa-minus {
					opacity: 1;
					visibility: visible;
					z-index: 1;
					transition-delay: 0s, 0s, 0.3s;
				}
				.item-list {
					@include vendor-prefix(transition, max-height 0.5s linear);
					max-height: 170px;

					@include breakpoint($ap-small, max) {
						margin-bottom: 15px;
					}
				}
			}
		}

		.subscribe {
			margin-bottom: 35px;
			margin-top: 35px;
			position: relative;

			input[type='text'] {
				@include font-rem(13px);
				color: $text-color;
				padding: 10px 10px 7px;
				text-align: left;
			}

			button[type='submit'] {
				@include font-rem(20px);
				@include vendor-prefix(transform, translateY(-50%));
				background-color: transparent;
				border: none;
				color: $black;
				padding-right: 10px;
				position: absolute;
				right: 0;
				top: 50%;
			}
		}

		.social-media {
			float: left;

			li {
				float: left;

				a {
					background-color: $grey-dark;
					background-position: 1px 1px;
					background-repeat: no-repeat;
					border-radius: 50%;
					display: block;
					height: 25px;
					margin-right: 10px;
					width: 25px;

					&:hover, &:focus {
						background-color: rgba($grey-dark, .7);
					}
				}
			}

			.facebook {
				background-image: url(/siteware/images/facebook_small-3559776562.png);
			}
			.twitter {
				background-image: url(/siteware/images/twitter_small-753032073.png);
			}
			.instagram {
				background-image: url(/siteware/images/instagram_small-774041236.png);
			}
			.youtube {
				background-image: url(/siteware/images/youtube_small-1289159775.png);
			}

			@include breakpoint($ap-medium) {
				margin-left: -15px;
			}
		}

		.choose-country {
			float: right;
			text-transform: uppercase;

			img {
				margin-right: 10px;
				border-right: 1px solid;
			    padding-right: 20px;
				width: auto;
			}

			@include breakpoint($ap-medium) {
				margin-right: -15px;
			}
		}
	}

	.footer-note {
		@include font-rem(12px);
		margin-bottom: 35px;

		@include breakpoint($ap-medium) {
			margin-bottom: 15px;
		}
	}

	.footer-links {
		@include clearfix(after);

		ul {
			@include clearfix(after);
			margin-bottom: 35px;

			li {
				@include font-rem(12px);
				border-right: 1px solid;
				float: left;
				margin-bottom: 15px;
				margin-right: 10px;
				padding-right: 10px;

				@include breakpoint($ap-small, max) {
					&:first-child {
						border-right: 0;
						float: none;
					}
				}

				&:last-child {
					border-right: 0;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}
}
