// Global Styles Goes Here...
body {
    @include font-rem(14px);
	background-color: $grey-lighter;
    color: $text-color;
    font-family: $body-fonts;
}

a {
    @include linx($highlight);
	@include vendor-prefix(transition, color 0.5s ease);
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $heading-fonts;
}

h1, h2 {
    @include font-rem(40px);
    margin: 30px 0 25px;

	&.section-title {
		@include font-rem(30px);
	}
}



ul, ol {
    list-style-position: inside;
    list-style-type: none;
    margin: 0 0 15px 0;
    padding-left: 0;
}

.select-wrapper {
    position: relative;

    &::after {
        @include vendor-prefix(transform, translateY(-50%));
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black;
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
    }
}
select {
    @include vendor-prefix(appearance, none);
}

.nowrap {
    white-space: nowrap;
}

.visually-hidden {
    @extend %visuallyhidden;
}

.full-width {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0;
    width: 100%;

	@include breakpoint($ap-medium) {
		border-color: $white-pure;
		border-width: 0 10px;
		border-style: solid;
	}
}

.content {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 30px;
}

.link-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.control-label {
    font-weight: normal;
}

.btn {
    @include font-rem(16px);
	background-color: $white-pure;
	background-image: none;
	border: 1px solid $highlight;
	color: $highlight;

	&:hover, &:focus, &:active, &.active {
		background-color: $white-pure;
		background-image: none;
		box-shadow: none;
		border: 1px solid $highlight;

		&:active {
			background-color: transparent;
			background-image: none;
			box-shadow: none;
			border: 1px solid $highlight;
		}
	}

	&-primary {
		background-color: $highlight;
		color: $text-color-inverse;

		&:hover, &:focus, &:active, &.active {
			background-color: $highlight;
			background-image: none;
			box-shadow: none;
			border: 1px solid $highlight;

			&:active {
				background-color: $highlight;
				background-image: none;
				box-shadow: none;
				border: 1px solid $highlight;
			}
		}
	}
}
