// Header Style Goes Here...
.utility-nav {
	@include clearfix(after);
	background-color: $white-pure;
	display: none;
	padding: 5px 30px 15px;

	@include breakpoint($ap-medium) {
		display: block;
	}

	a {
		@include linx($text-color, $darker);
	}

	.shipping-note {
		float: left;

		@include breakpoint($ap-medium, max) {
			margin-left: -30px;
		}
	}

	.site-tools {
		display: block;
		float: right;

		ul {
			@include clearfix(after);
			margin-bottom: 10px;
		}

		li {
			float: left;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			.fa-user {
				padding-right: 10px;
			}
		}
	}
}

.main-nav {
	@include clearfix(after);
	background-color: $white-pure;
	min-height: 70px;
	padding-top: 15px;

	@include breakpoint($ap-medium) {
		min-height: auto;
		padding-bottom: 15px;
		padding-top: 0;
		position: relative;
	}

	a {
		@include linx($text-color, $darker);
	}

	a.pull-right {
		display: none;
	}

	input[type="checkbox"] {
		display: none;
	}

	.main-nav-header {
		float: left;
		margin-right: 35px;

		@include breakpoint($ap-medium) {
			margin-top: -30px;
		}

		.main-nav-toggle {
			background-color: transparent;
			border: 0;

			@include breakpoint($ap-medium) {
				display: none;
			}
		}
	}

	@include breakpoint($ap-medium, max) {
		.main-nav-header {
			position: relative;
			width: 100%;
		}

		input[type="checkbox"] {
			display: block;
			position: absolute;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}

		input[type="checkbox"]:checked ~ .main-nav-collapse {
			max-height: 100vh;
		}

		.main-nav-toggle {
			@include font-rem(25px);
			font-weight: normal;
			padding: 15px 0 0;
		}

		.main-nav-brand {
			@include vendor-prefix(transform, translateX(-50%));
			left: 50%;
			position: absolute;

			img {
				max-height: 50px;
			}
		}

		a.pull-right {
			display: block;
			padding-top: 19px;
		}

		.fa-shopping-cart {
			@include font-rem(30px);
		}

		.main-nav-collapse {
			@include vendor-prefix(transition, max-height 0.5s linear);
			background-color: $white-pure;
			left: 0;
			max-height: 0;
			overflow: hidden;
			padding-left: 30px;
			padding-top: 15px;
			position: absolute;
			right: 0;
			top: 70px;
			z-index: 1;

			li {
				position: relative;

				input[type="checkbox"] {
					opacity: 0;
					position: absolute;
					visibility: hidden;
					z-index: -1;
				}

				label {
					display: block;
					font-weight: normal;
				}

				a {
					display: block;
					padding: 20px 0 5px 0;

					&:hover, &:focus {
						color: $black;
					}
				}

				img {
					@include vendor-prefix(transition, transform 0.5s ease);
					color: $highlight;
					float: right;
					margin: 0 25px 0 0;
				}
			}
		}

		input[type="checkbox"]:checked ~ a label img {
			@include vendor-prefix(transform, rotate(-135deg));
		}

		input[type="checkbox"]:checked ~ .submenu-wrapper {
			max-height: 120px;
		}

		.submenu-wrapper {
			@include vendor-prefix(transition, max-height 0.5s linear);
			max-height: 0;
			overflow: hidden;
			transform: translateZ(0);

			li {
				a {
					padding: 0 0 10px 0;
				}

				br {
					display: none;
				}
			}

			img {
				display: none;
			}
		}
	}

	.main-nav-items {
		@include breakpoint($ap-medium) {
			float: left;

			input[type="checkbox"], .img-plus-mobile {
				display: none;
			}

			label {
				font-weight: normal;
			}

			li {
				float: left;
				margin-right: 35px;

				&:last-child {
					margin-right: 0;
				}

				.submenu-wrapper {
					background-color: transparent;
					min-height: 0;
					left: 0;
					overflow: hidden;
					position: absolute;
					width: 100%;
					top: 45px;
					transition: min-height 0.3s linear, background-color 0.3s linear;
					z-index: 1;

					a {
						display: inline-block;
						text-align: center;
					}
				}

				ul {
					@include vendor-prefix(transform, translateX(-50%));
					left: 50%;
					padding: 15px 0 0 0;
					position: absolute;
				}

				&:hover, &:focus {
					.submenu-wrapper {
						background-color: $white-pure;
						min-height: 125px;
					}
				}
			}
		}
	}
}
