// Define Colors
$white-pure: #fff;
$white: #f1f1f1;
$black: #8a9298;
$darker: #3c4247;
$grey: #ececec;
$grey-dark: #b9bdc2;
$grey-darker: #7b858d;
$grey-light: #f9f9f9;
$grey-lighter: #e9eaee;

$highlight: #21c3e6;
// $primary: #f04c25;
// $secondary: #0093a9;
// $warning: #8bb464;
// $danger: #ea3f33;
// $info: #52a4a2;


// Define breakpoints
$ap-xsmall: 767px;
$ap-small: 768px;
$ap-medium: 992px;
$ap-large: 1200px;

// Define Fonts
$body-fonts: 'Arial', 'Helvetica', 'Lucida Grande', 'sans-serif';
$secondary-heading-fonts: 'Arial', 'Helvetica', 'Lucida Grande', 'sans-serif';
$heading-fonts: 'Arial', 'Helvetica', 'Lucida Grande', 'sans-serif';

// Define Fonts Colors
$text-color: $black;
$text-color-inverse: $white;
$heading-color: $black;
$heading-color-inverse: $white;
// $text-danger: $danger;

// Define Border Colors
$border-color: $grey-light;
