.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #e9eaee;
  color: #8a9298;
  font-family: "Arial", "Helvetica", "Lucida Grande", "sans-serif"; }

a {
  color: #21c3e6;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  a:active {
    color: #21c3e6; }
  a:focus, a:hover {
    color: #21c3e6;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #8a9298;
  font-family: "Arial", "Helvetica", "Lucida Grande", "sans-serif"; }

h1, h2 {
  font-size: 40px;
  font-size: 4rem;
  margin: 30px 0 25px; }
  h1.section-title, h2.section-title {
    font-size: 30px;
    font-size: 3rem; }

ul, ol {
  list-style-position: inside;
  list-style-type: none;
  margin: 0 0 15px 0;
  padding-left: 0; }

.select-wrapper {
  position: relative; }
  .select-wrapper::after {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a9298;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%; }

select {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.nowrap {
  white-space: nowrap; }

.full-width {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
  width: 100%; }
  @media (min-width: 992px) {
    .full-width {
      border-color: #fff;
      border-width: 0 10px;
      border-style: solid; } }

.content {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 30px; }

.link-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.control-label {
  font-weight: normal; }

.btn {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #fff;
  background-image: none;
  border: 1px solid #21c3e6;
  color: #21c3e6; }
  .btn:hover, .btn:focus, .btn:active, .btn.active {
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    border: 1px solid #21c3e6; }
    .btn:hover:active, .btn:focus:active, .btn:active:active, .btn.active:active {
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      border: 1px solid #21c3e6; }
  .btn-primary {
    background-color: #21c3e6;
    color: #f1f1f1; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
      background-color: #21c3e6;
      background-image: none;
      box-shadow: none;
      border: 1px solid #21c3e6; }
      .btn-primary:hover:active, .btn-primary:focus:active, .btn-primary:active:active, .btn-primary.active:active {
        background-color: #21c3e6;
        background-image: none;
        box-shadow: none;
        border: 1px solid #21c3e6; }

.utility-nav {
  background-color: #fff;
  display: none;
  padding: 5px 30px 15px; }
  .utility-nav::after {
    clear: both;
    content: '';
    display: table; }
  @media (min-width: 992px) {
    .utility-nav {
      display: block; } }
  .utility-nav a {
    color: #8a9298; }
    .utility-nav a:active {
      color: #8a9298; }
    .utility-nav a:focus, .utility-nav a:hover {
      color: #3c4247;
      text-decoration: none; }
  .utility-nav .shipping-note {
    float: left; }
    @media (max-width: 992px) {
      .utility-nav .shipping-note {
        margin-left: -30px; } }
  .utility-nav .site-tools {
    display: block;
    float: right; }
    .utility-nav .site-tools ul {
      margin-bottom: 10px; }
      .utility-nav .site-tools ul::after {
        clear: both;
        content: '';
        display: table; }
    .utility-nav .site-tools li {
      float: left;
      margin-right: 30px; }
      .utility-nav .site-tools li:last-child {
        margin-right: 0; }
      .utility-nav .site-tools li .fa-user {
        padding-right: 10px; }

.main-nav {
  background-color: #fff;
  min-height: 70px;
  padding-top: 15px; }
  .main-nav::after {
    clear: both;
    content: '';
    display: table; }
  @media (min-width: 992px) {
    .main-nav {
      min-height: auto;
      padding-bottom: 15px;
      padding-top: 0;
      position: relative; } }
  .main-nav a {
    color: #8a9298; }
    .main-nav a:active {
      color: #8a9298; }
    .main-nav a:focus, .main-nav a:hover {
      color: #3c4247;
      text-decoration: none; }
  .main-nav a.pull-right {
    display: none; }
  .main-nav input[type="checkbox"] {
    display: none; }
  .main-nav .main-nav-header {
    float: left;
    margin-right: 35px; }
    @media (min-width: 992px) {
      .main-nav .main-nav-header {
        margin-top: -30px; } }
    .main-nav .main-nav-header .main-nav-toggle {
      background-color: transparent;
      border: 0; }
      @media (min-width: 992px) {
        .main-nav .main-nav-header .main-nav-toggle {
          display: none; } }
  @media (max-width: 992px) {
    .main-nav .main-nav-header {
      position: relative;
      width: 100%; }
    .main-nav input[type="checkbox"] {
      display: block;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: -1; }
    .main-nav input[type="checkbox"]:checked ~ .main-nav-collapse {
      max-height: 100vh; }
    .main-nav .main-nav-toggle {
      font-size: 25px;
      font-size: 2.5rem;
      font-weight: normal;
      padding: 15px 0 0; }
    .main-nav .main-nav-brand {
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
      .main-nav .main-nav-brand img {
        max-height: 50px; }
    .main-nav a.pull-right {
      display: block;
      padding-top: 19px; }
    .main-nav .fa-shopping-cart {
      font-size: 30px;
      font-size: 3rem; }
    .main-nav .main-nav-collapse {
      -moz-transition: max-height 0.5s linear;
      -ms-transition: max-height 0.5s linear;
      -o-transition: max-height 0.5s linear;
      -webkit-transition: max-height 0.5s linear;
      transition: max-height 0.5s linear;
      background-color: #fff;
      left: 0;
      max-height: 0;
      overflow: hidden;
      padding-left: 30px;
      padding-top: 15px;
      position: absolute;
      right: 0;
      top: 70px;
      z-index: 1; }
      .main-nav .main-nav-collapse li {
        position: relative; }
        .main-nav .main-nav-collapse li input[type="checkbox"] {
          opacity: 0;
          position: absolute;
          visibility: hidden;
          z-index: -1; }
        .main-nav .main-nav-collapse li label {
          display: block;
          font-weight: normal; }
        .main-nav .main-nav-collapse li a {
          display: block;
          padding: 20px 0 5px 0; }
          .main-nav .main-nav-collapse li a:hover, .main-nav .main-nav-collapse li a:focus {
            color: #8a9298; }
        .main-nav .main-nav-collapse li img {
          -moz-transition: transform 0.5s ease;
          -ms-transition: transform 0.5s ease;
          -o-transition: transform 0.5s ease;
          -webkit-transition: transform 0.5s ease;
          transition: transform 0.5s ease;
          color: #21c3e6;
          float: right;
          margin: 0 25px 0 0; }
    .main-nav input[type="checkbox"]:checked ~ a label img {
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .main-nav input[type="checkbox"]:checked ~ .submenu-wrapper {
      max-height: 120px; }
    .main-nav .submenu-wrapper {
      -moz-transition: max-height 0.5s linear;
      -ms-transition: max-height 0.5s linear;
      -o-transition: max-height 0.5s linear;
      -webkit-transition: max-height 0.5s linear;
      transition: max-height 0.5s linear;
      max-height: 0;
      overflow: hidden;
      transform: translateZ(0); }
      .main-nav .submenu-wrapper li a {
        padding: 0 0 10px 0; }
      .main-nav .submenu-wrapper li br {
        display: none; }
      .main-nav .submenu-wrapper img {
        display: none; } }
  @media (min-width: 992px) {
    .main-nav .main-nav-items {
      float: left; }
      .main-nav .main-nav-items input[type="checkbox"], .main-nav .main-nav-items .img-plus-mobile {
        display: none; }
      .main-nav .main-nav-items label {
        font-weight: normal; }
      .main-nav .main-nav-items li {
        float: left;
        margin-right: 35px; }
        .main-nav .main-nav-items li:last-child {
          margin-right: 0; }
        .main-nav .main-nav-items li .submenu-wrapper {
          background-color: transparent;
          min-height: 0;
          left: 0;
          overflow: hidden;
          position: absolute;
          width: 100%;
          top: 45px;
          transition: min-height 0.3s linear, background-color 0.3s linear;
          z-index: 1; }
          .main-nav .main-nav-items li .submenu-wrapper a {
            display: inline-block;
            text-align: center; }
        .main-nav .main-nav-items li ul {
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          left: 50%;
          padding: 15px 0 0 0;
          position: absolute; }
        .main-nav .main-nav-items li:hover .submenu-wrapper, .main-nav .main-nav-items li:focus .submenu-wrapper {
          background-color: #fff;
          min-height: 125px; } }

/* All Modules CSS Goes Here... */
.site-tools {
  float: right;
  position: relative; }
  .site-tools::after {
    clear: both;
    content: '';
    display: table; }
  .site-tools ul li {
    float: left; }

.animated-hero-module {
  color: #3c4247;
  min-height: 630px;
  position: relative;
  text-align: center; }
  @media (min-width: 768px) {
    .animated-hero-module {
      min-height: 350px; } }
  .animated-hero-module .text-wrapper {
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.2;
    position: absolute;
    top: 150px; }
    @media (min-width: 768px) {
      .animated-hero-module .text-wrapper {
        left: 10%;
        top: 20%; } }
    @media (max-width: 768px) {
      .animated-hero-module .text-wrapper {
        left: 0; } }
    .animated-hero-module .text-wrapper .heading {
      font-size: 30px;
      font-size: 3rem;
      color: #00aba8;
      margin: 0;
      text-shadow: 1px 1px 0 #fff, 3px 3px 5px rgba(0, 171, 168, 0.8); }
  .animated-hero-module .img-wrapper {
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    position: absolute; }
    .animated-hero-module .img-wrapper--tr {
      top: 20px;
      right: 0; }
    .animated-hero-module .img-wrapper--bl {
      left: 0;
      top: 270px; }
      @media (min-width: 768px) {
        .animated-hero-module .img-wrapper--bl {
          bottom: 20px;
          top: auto; } }
  .animated-hero-module .specialities {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    position: absolute; }
    @media (min-width: 768px) {
      .animated-hero-module .specialities {
        right: 0; } }
    .animated-hero-module .specialities li {
      -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
      -o-animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -moz-animation-delay: 1.5s;
      -ms-animation-delay: 1.5s;
      -o-animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
      -moz-animation-iteration-count: 1;
      -ms-animation-iteration-count: 1;
      -o-animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      margin-bottom: 15px;
      width: 80px; }
      @media (min-width: 768px) {
        .animated-hero-module .specialities li {
          margin-right: 5px;
          width: 90px; }
          .animated-hero-module .specialities li:last-child {
            margin-right: 0; } }
      .animated-hero-module .specialities li.blinking-star {
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -moz-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite; }
      .animated-hero-module .specialities li img {
        border: 1px solid #8a9298;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px; }

.hero-banner {
  background-position: 50% bottom;
  background-repeat: no-repeat;
  padding-bottom: 420px;
  padding-top: 15px;
  position: relative; }
  @media (min-width: 768px) {
    .hero-banner {
      min-height: 744px;
      padding-bottom: 0;
      padding-top: 35px; } }
  @media (min-width: 992px) {
    .hero-banner {
      height: 58.125vw;
      padding-bottom: 0; } }
  .homepage .hero-banner {
    background-color: #f9f9f9;
    background-image: url(/siteware/images/mobile-294712633.jpg); }
    @media (min-width: 768px) {
      .homepage .hero-banner {
        background-image: url(/siteware/images/tablet-3078176136.jpg); } }
    @media (min-width: 992px) {
      .homepage .hero-banner {
        background-image: url(/siteware/images/desktop-4273321488.jpg); } }
  .inner-page .hero-banner {
    background-image: url(/siteware/images/background-desktop_2x-3310233894.jpg);
    background-position: 50% bottom;
    background-size: cover;
    height: 45vw;
    padding-bottom: 350px; }
    .inner-page .hero-banner h1 {
      font-size: 35px;
      font-size: 3.5rem;
      color: #3c4247;
      margin-bottom: 15px; }
      @media (min-width: 768px) {
        .inner-page .hero-banner h1 {
          font-size: 40px;
          font-size: 4rem; } }
      @media (min-width: 992px) {
        .inner-page .hero-banner h1 {
          font-size: 50px;
          font-size: 5rem; } }
    .inner-page .hero-banner p {
      font-size: 24px;
      font-size: 2.4rem; }
      @media (min-width: 768px) {
        .inner-page .hero-banner p {
          font-size: 26px;
          font-size: 2.6rem; } }
      @media (min-width: 992px) {
        .inner-page .hero-banner p {
          font-size: 30px;
          font-size: 3rem; } }
    .inner-page .hero-banner a {
      font-size: 18px;
      font-size: 1.8rem; }
      .inner-page .hero-banner a i {
        font-size: 20px;
        font-size: 2rem; }
  .hero-banner .text-area {
    padding-top: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .hero-banner .text-area {
        margin: 0 auto;
        width: 50%; } }
    @media (min-width: 992px) {
      .hero-banner .text-area {
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        top: 25%;
        width: auto; } }
    .hero-banner .text-area a {
      display: block; }
  .hero-banner .title {
    font-size: 16px;
    font-size: 1.6rem;
    color: #8a9298;
    margin: 5px 0 3px; }
    @media (min-width: 768px) {
      .hero-banner .title {
        margin: 15px 0 7px; } }
  .hero-banner .subline {
    font-size: 11px;
    font-size: 1.1rem;
    color: #8a9298;
    margin-bottom: 15px; }
  .hero-banner .tagline {
    font-size: 28px;
    font-size: 2.8rem;
    color: #8a9298;
    font-weight: normal;
    line-height: 1.4;
    margin: 10px 0; }
    @media (min-width: 768px) {
      .hero-banner .tagline {
        font-size: 40px;
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 25px; } }

.prodbox-wrapper {
  background-color: #fff;
  padding-top: 10px; }
  .prodbox-wrapper ul {
    margin-bottom: 0; }
  .prodbox-wrapper .adbox {
    background-position: 50% 0;
    position: relative;
    margin-bottom: 7px;
    min-height: 358px; }
    @media (min-width: 768px) {
      .prodbox-wrapper .adbox {
        display: inline-block;
        margin-bottom: 3px;
        margin-right: 1px;
        width: calc(50% - 5px); }
        .prodbox-wrapper .adbox:nth-child(2n) {
          margin-left: 5px;
          margin-right: -4px; } }
    .prodbox-wrapper .adbox:hover {
      color: #21c3e6; }
      .prodbox-wrapper .adbox:hover .text {
        color: #21c3e6; }
    .prodbox-wrapper .adbox:last-child {
      margin-bottom: 0; }
    .prodbox-wrapper .adbox .box-img {
      max-height: 325px; }
    .prodbox-wrapper .adbox .text {
      font-size: 18px;
      font-size: 1.8rem;
      bottom: 0;
      left: 0;
      padding-bottom: 20px;
      position: absolute;
      right: 0;
      text-align: center; }
      .prodbox-wrapper .adbox .text .title {
        font-size: 20px;
        font-size: 2rem;
        color: #8a9298;
        line-height: 24px;
        margin-bottom: 5px; }
      .prodbox-wrapper .adbox .text--inverse {
        color: #f1f1f1; }
        .prodbox-wrapper .adbox .text--inverse .title {
          color: #f1f1f1; }

.what-else {
  border-color: #fff;
  border-style: solid;
  border-width: 10px 0;
  padding: 15px 15px 65px 15px;
  position: relative; }
  @media (min-width: 768px) {
    .what-else {
      padding: 15px 0 65px 25px; } }
  @media (max-width: 767px) {
    .what-else .slick-slides {
      margin: 0 auto;
      max-width: 390px; } }
  .what-else .slick-slides .slick-arrow {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #b9bdc2;
    border-radius: 50%;
    bottom: -50px;
    height: 35px;
    position: absolute;
    width: 35px;
    z-index: 1; }
    .what-else .slick-slides .slick-arrow.slick-prev {
      left: 15%; }
      @media (min-width: 768px) {
        .what-else .slick-slides .slick-arrow.slick-prev {
          left: calc(50% - 50px); } }
    .what-else .slick-slides .slick-arrow.slick-next {
      right: 10%; }
      @media (min-width: 768px) {
        .what-else .slick-slides .slick-arrow.slick-next {
          right: calc(50% - 50px); } }
    .what-else .slick-slides .slick-arrow .fa {
      font-size: 22px;
      font-size: 2.2rem;
      color: #8a9298;
      font-weight: bold;
      margin-top: 3px; }
  .what-else .slick-slides .slick-dots {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -52px;
    left: 47%;
    position: absolute; }
    .what-else .slick-slides .slick-dots::after {
      clear: both;
      content: '';
      display: table; }
    .what-else .slick-slides .slick-dots li {
      font-size: 20px;
      font-size: 2rem;
      background-color: #8a9298;
      border-radius: 50%;
      cursor: pointer;
      float: left;
      font-weight: bold;
      height: 6px;
      margin: 0 5px;
      width: 6px; }
      .what-else .slick-slides .slick-dots li button {
        opacity: 0;
        visibility: hidden;
        overflow: hidden; }
    .what-else .slick-slides .slick-dots .slick-active {
      background-color: #21c3e6; }
  .what-else .slick-slide {
    position: relative; }
    .what-else .slick-slide.custom-slide .text {
      padding-top: 50px; }
    @media (min-width: 768px) {
      .what-else .slick-slide {
        margin-left: 15px; }
        .what-else .slick-slide.custom-slide .img-holder {
          position: relative; }
          .what-else .slick-slide.custom-slide .img-holder img {
            max-height: 240px;
            max-width: 100%; }
        .what-else .slick-slide.custom-slide .text {
          margin-left: 0;
          max-width: 100%;
          min-height: auto;
          padding-bottom: 5px;
          padding-top: 45px; }
        .what-else .slick-slide .img-holder {
          left: 0;
          position: absolute;
          top: 0; }
          .what-else .slick-slide .img-holder img {
            max-height: 390px;
            max-width: 100%; } }
    .what-else .slick-slide .text {
      background-color: #fff;
      padding: 25px 25px;
      text-align: center; }
      @media (min-width: 768px) {
        .what-else .slick-slide .text {
          margin-left: 390px;
          max-width: 230px;
          min-height: 390px; } }
      .what-else .slick-slide .text .slide-title {
        color: #21c3e6;
        font-weight: normal;
        margin: 10px 0; }
      .what-else .slick-slide .text .slide-text {
        text-align: left; }
      .what-else .slick-slide .text .buy-now {
        font-size: 16px;
        font-size: 1.6rem;
        color: #21c3e6; }
        .what-else .slick-slide .text .buy-now .fa-angle-right {
          font-size: 20px;
          font-size: 2rem;
          margin-left: 10px; }

.build-your-home {
  background-color: #fff;
  padding: 20px 0 30px; }
  .build-your-home .title {
    font-size: 24px;
    font-size: 2.4rem;
    color: #3c4247; }
  .build-your-home li {
    background-color: #fafafa;
    border-right: 10px solid #fff; }
    .build-your-home li:last-child {
      border-right: 0; }
    .build-your-home li img {
      margin: 0 auto;
      max-height: 158px; }
    .build-your-home li p {
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        .build-your-home li p {
          margin-bottom: 0; } }

.text-description {
  background-color: #fff;
  padding: 50px 0;
  text-align: center; }
  @media (min-width: 992px) {
    .text-description .content {
      margin: 0 auto;
      width: 60%; } }

.text-with-image {
  background-color: #fff;
  padding: 15px;
  position: relative; }
  .text-with-image::after {
    clear: both;
    content: '';
    display: table; }
  .text-with-image .section-title {
    margin-top: 0; }
  .text-with-image .img-overlay {
    display: none; }
  .text-with-image .img-holder {
    display: block;
    float: right; }
    .text-with-image .img-holder img {
      display: inline-block;
      height: 450px; }
  .text-with-image .text-wrapper {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 25px;
    position: absolute;
    top: 50%;
    width: 50%; }
  .text-with-image ul li {
    float: left;
    margin-right: 20px; }
  .text-with-image--right .img-holder {
    float: left; }
  .text-with-image--right .text-wrapper {
    padding-left: 25px;
    right: 0; }
  .text-with-image--center {
    text-align: center; }
    .text-with-image--center .section-title {
      color: #fff; }
    .text-with-image--center .img-overlay {
      background-color: rgba(60, 66, 71, 0.3);
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .text-with-image--center .img-holder {
      float: none; }
    .text-with-image--center .text-wrapper {
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      left: 50%;
      top: 50%;
      width: auto; }

/* Footer Style Goes Here... */
.footer-wrapper {
  background-color: #7b858d;
  color: #f1f1f1; }
  .footer-wrapper a {
    color: #f1f1f1; }
    .footer-wrapper a:active {
      color: #f1f1f1; }
    .footer-wrapper a:focus, .footer-wrapper a:hover {
      color: #b9bdc2;
      text-decoration: none; }
  .footer-wrapper .with-pro-installer li {
    border-bottom: 1px solid;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0; }
    .footer-wrapper .with-pro-installer li:last-child {
      border-bottom: 0;
      padding-bottom: 5px; }
    @media (min-width: 992px) {
      .footer-wrapper .with-pro-installer li {
        padding-bottom: 35px;
        padding-top: 35px;
        margin: 0; }
        .footer-wrapper .with-pro-installer li:last-child {
          border-bottom: 1px solid;
          padding-bottom: 35px; } }
    .footer-wrapper .with-pro-installer li a {
      display: block;
      padding-left: 55px;
      position: relative; }
      .footer-wrapper .with-pro-installer li a::before {
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-position: left 50%;
        background-repeat: no-repeat;
        bottom: 0;
        content: "";
        display: table;
        left: 0;
        position: absolute;
        top: 50%; }
      @media (min-width: 992px) {
        .footer-wrapper .with-pro-installer li a {
          padding-left: 85px; } }
    .footer-wrapper .with-pro-installer li br {
      display: none; }
      @media (min-width: 992px) {
        .footer-wrapper .with-pro-installer li br {
          display: inline; } }
    .footer-wrapper .with-pro-installer li span {
      display: block; }
    .footer-wrapper .with-pro-installer li .title {
      font-size: 16px;
      font-size: 1.6rem; }
    .footer-wrapper .with-pro-installer li .text {
      font-size: 12.5px;
      font-size: 1.25rem; }
  .footer-wrapper .with-pro-installer .rebates-rewards::before {
    background-image: url(/siteware/images/piggy-bank-outline-white-2847032734.svg);
    height: 27px;
    width: 40px; }
    @media (min-width: 992px) {
      .footer-wrapper .with-pro-installer .rebates-rewards::before {
        height: 40px;
        width: 60px; } }
  .footer-wrapper .with-pro-installer .find-installer::before {
    background-image: url(/siteware/images/hammer-and-screwdriver-outline-white-83581106.svg);
    height: 35px;
    width: 35px; }
    @media (min-width: 992px) {
      .footer-wrapper .with-pro-installer .find-installer::before {
        height: 50px;
        width: 87px; } }
  .footer-wrapper .with-pro-installer .works-nest::before {
    background-image: url(/siteware/images/nest-house-white-small-2381206170.svg);
    border: 1px solid;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    @media (min-width: 992px) {
      .footer-wrapper .with-pro-installer .works-nest::before {
        height: 50px;
        width: 50px; } }
  .footer-wrapper .footer-nav {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0 0 15px;
    position: relative; }
    .footer-wrapper .footer-nav [class*="col-md-"] {
      border-bottom: 1px solid; }
      .footer-wrapper .footer-nav [class*="col-md-"]:first-child {
        border-top: 1px solid; }
      .footer-wrapper .footer-nav [class*="col-md-"]:last-child {
        border-bottom: 0; }
      @media (min-width: 992px) {
        .footer-wrapper .footer-nav [class*="col-md-"] {
          border-bottom: 0; }
          .footer-wrapper .footer-nav [class*="col-md-"]:first-child {
            border-top: 0; } }
    .footer-wrapper .footer-nav .item-title {
      font-size: 12px;
      font-size: 1.2rem;
      color: #f1f1f1;
      line-height: 2;
      margin: 0;
      text-transform: uppercase; }
    .footer-wrapper .footer-nav li {
      line-height: 1.5; }
    .footer-wrapper .footer-nav h2 label {
      display: block;
      font-weight: normal;
      margin-top: 5px; }
    @media (min-width: 992px) {
      .footer-wrapper .footer-nav h2 label {
        font-weight: normal;
        margin: 0; } }
    .footer-wrapper .footer-nav .item-list {
      -moz-transition: max-height 0.5s linear;
      -ms-transition: max-height 0.5s linear;
      -o-transition: max-height 0.5s linear;
      -webkit-transition: max-height 0.5s linear;
      transition: max-height 0.5s linear;
      max-height: 0;
      margin-bottom: 0;
      overflow: hidden; }
      @media (min-width: 992px) {
        .footer-wrapper .footer-nav .item-list {
          max-height: 100%;
          overflow: inherit; } }
    .footer-wrapper .footer-nav input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      visibility: hidden; }
      .footer-wrapper .footer-nav input[type='checkbox'] ~ h2 .fa {
        position: absolute;
        right: 10px;
        top: 10px; }
        @media (min-width: 992px) {
          .footer-wrapper .footer-nav input[type='checkbox'] ~ h2 .fa {
            display: none !important; } }
      .footer-wrapper .footer-nav input[type='checkbox'] ~ h2 .fa-minus {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
      .footer-wrapper .footer-nav input[type='checkbox']:checked ~ h2 .fa-plus {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
      .footer-wrapper .footer-nav input[type='checkbox']:checked ~ h2 .fa-minus {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition-delay: 0s, 0s, 0.3s; }
      .footer-wrapper .footer-nav input[type='checkbox']:checked ~ .item-list {
        -moz-transition: max-height 0.5s linear;
        -ms-transition: max-height 0.5s linear;
        -o-transition: max-height 0.5s linear;
        -webkit-transition: max-height 0.5s linear;
        transition: max-height 0.5s linear;
        max-height: 170px; }
        @media (max-width: 768px) {
          .footer-wrapper .footer-nav input[type='checkbox']:checked ~ .item-list {
            margin-bottom: 15px; } }
    .footer-wrapper .footer-nav .subscribe {
      margin-bottom: 35px;
      margin-top: 35px;
      position: relative; }
      .footer-wrapper .footer-nav .subscribe input[type='text'] {
        font-size: 13px;
        font-size: 1.3rem;
        color: #8a9298;
        padding: 10px 10px 7px;
        text-align: left; }
      .footer-wrapper .footer-nav .subscribe button[type='submit'] {
        font-size: 20px;
        font-size: 2rem;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        color: #8a9298;
        padding-right: 10px;
        position: absolute;
        right: 0;
        top: 50%; }
    .footer-wrapper .footer-nav .social-media {
      float: left; }
      .footer-wrapper .footer-nav .social-media li {
        float: left; }
        .footer-wrapper .footer-nav .social-media li a {
          background-color: #b9bdc2;
          background-position: 1px 1px;
          background-repeat: no-repeat;
          border-radius: 50%;
          display: block;
          height: 25px;
          margin-right: 10px;
          width: 25px; }
          .footer-wrapper .footer-nav .social-media li a:hover, .footer-wrapper .footer-nav .social-media li a:focus {
            background-color: rgba(185, 189, 194, 0.7); }
      .footer-wrapper .footer-nav .social-media .facebook {
        background-image: url(/siteware/images/facebook_small-3559776562.png); }
      .footer-wrapper .footer-nav .social-media .twitter {
        background-image: url(/siteware/images/twitter_small-753032073.png); }
      .footer-wrapper .footer-nav .social-media .instagram {
        background-image: url(/siteware/images/instagram_small-774041236.png); }
      .footer-wrapper .footer-nav .social-media .youtube {
        background-image: url(/siteware/images/youtube_small-1289159775.png); }
      @media (min-width: 992px) {
        .footer-wrapper .footer-nav .social-media {
          margin-left: -15px; } }
    .footer-wrapper .footer-nav .choose-country {
      float: right;
      text-transform: uppercase; }
      .footer-wrapper .footer-nav .choose-country img {
        margin-right: 10px;
        border-right: 1px solid;
        padding-right: 20px;
        width: auto; }
      @media (min-width: 992px) {
        .footer-wrapper .footer-nav .choose-country {
          margin-right: -15px; } }
  .footer-wrapper .footer-note {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 35px; }
    @media (min-width: 992px) {
      .footer-wrapper .footer-note {
        margin-bottom: 15px; } }
  .footer-wrapper .footer-links::after {
    clear: both;
    content: '';
    display: table; }
  .footer-wrapper .footer-links ul {
    margin-bottom: 35px; }
    .footer-wrapper .footer-links ul::after {
      clear: both;
      content: '';
      display: table; }
    .footer-wrapper .footer-links ul li {
      font-size: 12px;
      font-size: 1.2rem;
      border-right: 1px solid;
      float: left;
      margin-bottom: 15px;
      margin-right: 10px;
      padding-right: 10px; }
      @media (max-width: 768px) {
        .footer-wrapper .footer-links ul li:first-child {
          border-right: 0;
          float: none; } }
      .footer-wrapper .footer-links ul li:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0; }

/*# sourceMappingURL=main.css.map */
