<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>{{ pageTitle }} {{ site.separator }} {{ site.siteName }}</title>

	<!-- build:css /siteware/styles/vendors.min.css -->
	<link rel="stylesheet" href="/siteware/styles/lib/bootstrap.min.css">
	<link rel="stylesheet" href="/siteware/styles/lib/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/siteware/styles/lib/font-awesome.min.css">
	<link rel="stylesheet" href="/siteware/styles/lib/slick.css">
	<link rel="stylesheet" href="/siteware/styles/lib/animate.css">
	{{!-- <link rel="stylesheet" href="/siteware/styles/lib/slick-theme.css"> --}}
	<!-- endbuild -->

	<!-- build:css /siteware/styles/custom.min.css -->
	<link rel="stylesheet" href="/siteware/styles/main.css">
	<!-- endbuild -->
</head>

<body{{#if pageClass}} class="{{pageClass}}"{{/if}}>

<div class="full-width">
	{{> header }}
	{{ body }}
	{{> footer }}
</div>

<!-- build:js /siteware/scripts/vendors.min.js -->
<script src="/siteware/scripts/lib/jquery-1.12.3.min.js"></script>
<script src="/siteware/scripts/lib/bootstrap.min.js"></script>
<script src="/siteware/scripts/lib/slick.min.js"></script>
<!-- endbuild -->

<!-- build:js /siteware/scripts/custom.min.js -->
<script src="/siteware/scripts/main.js"></script>
<!-- endbuild -->
</body>

</html>
